<div class="full-width" style="height: 1.45in; padding: .21in 25.5mm; margin: 0 0 1mm 0; display: flex; ">
    <img class="logo-doh" style="height: 1.1in; float: left">
    <div style="padding: 7.3mm 0 0 1.3mm; display: block; width: 100%">
        <h1 class="title-page" style="font-weight: normal; text-align: center"> Republic of the Philippines<br/></h1>
        <h1 class="title-page" style="font-size: 12pt; font-weight: normal; text-align: center">Department of
            Health<br/></h1>
        <h1 class="title-page" style="font-size: 14pt; font-weight: bold; text-align: center">EPIDEMIOLOGY BUREAU</h1>
    </div>
    <img class="logo-eb" style="height: 1.1in; float: right; margin-top: 1mm">
</div>